apiVersion: apps/v1
kind: Deployment
metadata:
  name: fca
spec:
  selector:
    matchLabels:
      app: fca
  template:
    metadata:
      labels:
        app: fca
    spec:
      containers:
      - name: fca
        image: rcregistry.azurecr.io/fca:latest
        imagePullPolicy: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
        ports:
        - containerPort: 80
